{
    "name": "{{ image_name }}",
    "image_url": "{{ image_url }}",
{% if image_os_version is defined %}  
    "__os_version":"{{ image_os_version }}",
{% endif %}  
    "min_disk": {{ image_min_disk }}
}
