{
    "server": {
        "availability_zone": "eu-de-01",
        "name": "{{ vm_name }}",
        "imageRef": "{{ vm_imageid }}",
        "root_volume": {
            "volumetype": "SATA"
        },
        "flavorRef": "{{ vm_flavor }}",
        "vpcid": "{{ vm_vpcid }}",
        "security_groups": [
            {
                "id": "{{ vm_secgroup }}"
            }
        ],
        "nics": [
            {
                "subnet_id": "{{ vm_subnetid }}"
            }
        ],

        "adminPass": "{{ vm_adminpass }}",
        "count": 1,
        "},": {
            "__vnc_keymap": "de"
        }
   }
}
