{
    "server": {
        "availability_zone": "eu-de-01",
        "name": "{{ vm_name }}",
        "imageRef": "{{ vm_imageid }}",
        "root_volume": {
            "volumetype": "SATA"
        },
        "flavorRef": "{{ vm_flavor }}",
        "vpcid": "{{ vm_vpcid }}",
        "security_groups": [
            {
                "id": "{{ vm_secgroup }}"
            }
        ],
        "nics": [
            {
{% if vm_ipaddress is defined %}  
                "ip_address": "{{ vm_ipaddress }}",
{% endif %}  
                "subnet_id": "{{ vm_subnetid }}"
            }
        ],
{% if vm_publicip is defined %}  
        "publicip": {
            "id": "{{ vm_publicip }}"
        },
{% endif %}  

{% if vm_adminpass is defined %}  
        "adminPass": "{{ vm_adminpass }}",
{% endif %}  
{% if vm_adminkey is defined %}  
        "key_name": "{{ vm_adminkey }}",
        "adminPass": "",
{% endif %}  
        "count": 1,
        "},": {
            "__vnc_keymap": "de"
        }
   }
}
