{
    "listener_id": "{{ elb_listener_id }}",
{% if healthcheck_connect_port is defined %}  
    "healthcheck_connect_port": {{ healthcheck_connect_port }},
{% endif %}  
{% if healthcheck_interval is defined %}  
    "healthcheck_interval": {{ healthcheck_interval }},
{% endif %}  
{% if healthcheck_protocol is defined %}  
    "healthcheck_protocol": "{{ healthcheck_protocol }}",
{% endif %}  
{% if healthcheck_timeout is defined %}  
    "healthcheck_timeout": {{ healthcheck_timeout }},
{% endif %}  
{% if healthcheck_uri is defined %}  
    "healthcheck_uri": "{{ healthcheck_uri }}",
{% endif %}  
{% if healthcheck_treshold is defined %}  
    "healthcheck_treshold": {{ healthcheck_treshold }}
{% endif %}  
}
