{
    "name": "{{ zone_name }}",
{% if zone_description is defined %}  
    "description": "{{ zone_description }}",
{% endif %}  
{% if zone_type is defined %}  
    "zone_type": "{{ zone_type }}",
{% endif %}  
{% if zone_email is defined %}  
    "email": "{{ zone_email }}",
{% endif %}  
    "ttl": {{ zone_ttl }}
}
