{
    "subnet": {
        "name": "{{ subnet_name }}",
        "cidr": "{{ subnet_net }}",
        "gateway_ip": "{{ subnet_gateway }}",
{% if subnet_dhcp_enable is defined %}  
        "dhcp_enable": {{ subnet_dhcp_enable }},
{% endif %}  
{% if subnet_primary_dns is defined %}  
        "primary_dns": "{{ subnet_primary_dns }}",
{% endif %}  
{% if subnet_secondary_dns is defined %}  
        "secondary_dns": "{{ subnet_secondary_dns }}",
{% endif %}  
        "availability_zone": "{{ subnet_availability_zone }}",
        "vpc_id": "{{ subnet_vpc_id }}"
    }
}
