{
    "server": {
        "availability_zone": "{{ ecs_availability_zone }}",
        "name": "{{ ecs_name }}",
        "imageRef": "{{ ecs_imageid }}",
        "root_volume": {
            "volumetype": "{{ ecs_volumetype }}"
        },
        "flavorRef": "{{ ecs_flavor }}",
        "vpcid": "{{ ecs_vpcid }}",
        "security_groups": [
            {
                "id": "{{ ecs_secgroup }}"
            }
        ],
        "nics": [
            {
{% if ecs_ipaddress is defined %}  
                "ip_address": "{{ ecs_ipaddress }}",
{% endif %}  
                "subnet_id": "{{ ecs_subnetid }}"
            }
        ],
{% if ecs_publicip is defined %}  
        "publicip": {
            "id": "{{ ecs_publicip }}"
        },
{% endif %}  
{% if ecs_fileinject_1 is defined %}  
        "personality": [
            {
                "path": "{{ ecs_fileinject_1 }}",
                "contents":  "{{ ecs_fileinject_data_1 }}"
            }
{% if ecs_fileinject_2 is defined %}  
            ,{
                "path": "{{ ecs_fileinject_2 }}",
                "contents":  "{{ ecs_fileinject_data_2 }}"
            }
{% endif %}  
{% if ecs_fileinject_3 is defined %}  
            ,{
                "path": "{{ ecs_fileinject_3 }}",
                "contents":  "{{ ecs_fileinject_data_3 }}"
            }
{% endif %}  
{% if ecs_fileinject_4 is defined %}  
            ,{
                "path": "{{ ecs_fileinject_4 }}",
                "contents":  "{{ ecs_fileinject_data_4 }}"
            }
{% endif %}  
{% if ecs_fileinject_5 is defined %}  
            ,{
                "path": "{{ ecs_fileinject_5 }}",
                "contents":  "{{ ecs_fileinject_data_5 }}"
            }
{% endif %}  
        ],
{% endif %}  
{% if ecs_user_data is defined %}  
        "user_data": "{{ ecs_user_data }}",
{% endif %}  
{% if ecs_adminpass is defined %}  
        "adminPass": "{{ ecs_adminpass }}",
{% endif %}  
{% if ecs_adminkey is defined %}  
        "key_name": "{{ ecs_adminkey }}",
        "adminPass": "",
{% endif %}  
        "count": 1,
        "},": {
            "__vnc_keymap": "de"
        }
   }
}
