{
    "name": "{{ elb_name }}",
    "vpc_id": "{{ elb_vpcid }}",
    "bandwidth": "{{ elb_bandwidth }}",
    "type": "{{ elb_type }}",
{% if elb_type == "Internal" and elb_secgroup is defined %}  
    "az": "{{ elb_availability_zone }}",
    "security_group": "{{ elb_secgroup }}",
    "vip_subnet_id": "{{ elb_subnet_id }}",
{% endif %}  
    "admin_state_up": "{{ elb_admin_state_up }}"
}
