{
    "name": "{{ elb_name }}",
    "vpc_id": "{{ elb_vpcid }}",
{% if elb_type == "External" %}  
    "bandwidth": "{{ elb_bandwidth }}",
{% endif %}  
    "type": "{{ elb_type }}",
{% if elb_type == "Internal" and elb_secgroup is defined %}  
    "security_group_id": "{{ elb_secgroup }}",
    "az": "{{ elb_availability_zone_id }}",
    "vip_subnet_id": "{{ elb_subnet_id }}",
{% endif %}  
    "admin_state_up": {{ elb_admin_state_up }}
}
